@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  svg
    .mesh
      fill none
      stroke #f
      stroke-opacity 0.5
      stroke-width 0.5
    .firmy
      path
        stroke none
        fill-opacity 0.9
        transition fill-opacity 0.2s
      &:hover
        path
          fill-opacity 0.3
          &:hover
            fill-opacity 0.9


